server:
  address: "127.0.0.1"
  port: 8080

app_configuration:
  redis_hostport: "localhost:6379"

github:
  v3_api_url: "https://api.github.com/"
  app:
    integration_id: 0
    webhook_secret: "your-app-webhook-secret-here"
    private_key: |
      your-app-private-key-content-here
