server:
  address: "127.0.0.1"
  port: 8080

app_configuration:
  redis_hostport: "redis:6379"

  # Get an ID from https://smee.io/new
  # Optional. If blank, the app will not use a webhook proxy.
  webhook_proxy_url: "https://smee.io/your-smee-id"

  # Specify a label that must be present on a pull request before
  # bot commands are allowed to execute. If none is specified,
  # bot commands will always be allowed by anyone able to comment
  # on PRs.
  required_labels:
    - "skill"
    - "knowledge"

  # Remove the maintainers if you are working with your local development environment
  maintainers:
    - "taxonomy-triagers"
    - "taxonomy-approvers"
    - "taxonomy-maintainers"
    - "labrador-org-maintainers"
  # Optional. If left commented, the default bot account is @instruct-lab-bot
  # bot_username: "@instruct-lab-bot"

github:
  v3_api_url: "https://api.github.com/"
  app:
    integration_id: 0
    webhook_secret: "your-app-webhook-secret-here"
    private_key: |
      your-app-private-key-content-here
