[defaults]
ansible_ssh_timeout=40
ansible_become_timeout=60
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
ask_pass = False
stdout_callback = yaml
# defaults to the base directory in the project
inventory = inventory.txt
# create .pem private_key_file and provide location
private_key_file = ./lab-bot.pem
