node_modules
npm-debug.log
*.pem
!mock-cert.pem
.env
*.env
coverage
lib
taxonomy
config.yaml
models
generated
.idea
.DS_Store

# UI assets
**/node_modules
dist
yarn-error.log
yarn.lock
stats.json
.next/
