/* Chat CSS */
.chat-container {
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 90%;
  margin: auto;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages-container {
  overflow-y: auto;
  flex-grow: 1;
  padding: 30px;
  max-height: 80%;
}

.message {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.message pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0;
  flex-grow: 1;
}

.chat-question .user-icon,
.chat-answer .bot-icon {
  margin-right: 10px;
  min-width: 32px;
  vertical-align: top;
}

.chat-form {
  margin-top: 20px;
}

.chat-title {
  text-align: left;
  margin-bottom: 0.5rem;
}
