/* Chat Container */
.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 90vh;
  background-color: #f7f7f8;
  padding: 20px;
  box-sizing: border-box;
}

/* Chat Title */
.chatTitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Messages Container */
.messagesContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  background-color: white;
  border-radius: 8px;
}

/* Message Styling */
.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: 0.9rem; /* Smaller bot font size */
}

.message pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0;
  flex-grow: 1;
  font-size: inherit; /* Inherit the smaller font size */
}

/* User Message Styling */
.chatQuestion {
  justify-content: flex-end;
}

.userIcon {
  margin-left: 10px;
  margin-right: 20px;
}

/* Bot Message Styling */
.chatAnswer {
  justify-content: flex-start;
}

.botIcon {
  margin-right: 10px;
  margin-left: 0;
}

/* Form Container within the Chat Window */
.chatFormContainer {
  display: flex;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  background-color: white;
  padding: 10px;
}

/* Form Styling */
.chatForm {
  display: flex;
  width: 100%;
  align-items: center;
}

/* Input Fields Container */
.inputFieldsContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* Input Fields */
.inputFields {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 10px;
}

.inputField {
  margin-bottom: 10px;
}

.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #0056b3;
}

/* Spinner Styling */
.spinner {
  display: block;
  margin: 20px auto;
}
