/* Skill CSS */

.form {
	width: 80%;
	padding-left: 20%;
}


.submit {
	display: inline-block;
	margin-top: 30px;
	margin-left: 50%;
}

.submit:hover {
	background-color: #45a049;
	/* Darker Green */
}

.heading {
	text-align: left;
	text-shadow: #45a049;
	font-size: large;
	color: rgb(4, 4, 135);
}
