/* Skill CSS */

.form {
  width: 80%;
  padding-left: 20%;
  margin-bottom: 50px;
}

.submit,
.download {
  display: inline-block;
  margin-top: 30px;
  margin-left: 50%;
}

.submit:hover,
.download-yaml:hover,
.download-attribution:hover {
  background-color: #45a049;
}

.heading {
  text-align: left;
  font-size: medium;
}
