/* Knowledge CSS */

.form-k {
  width: 80%;
  padding-left: 20%;
  margin-bottom: 50px;
}

.submit-k,
.download-k {
  display: inline-block;
  margin-top: 30px;
  margin-left: 50%;
}

.submit-k:hover,
.download-k-yaml:hover,
.download-k-attribution:hover {
  background-color: #45a049;
}

.heading-k {
  text-align: left;
  font-size: medium;
}
