---
- name: Clone the bot repo # noqa latest[git]
  ansible.builtin.git:
    clone: true
    repo: "https://{{ qa_github_token }}@github.com/redhat-et/instruct-lab-bot.git"
    dest: /home/{{ ansible_user }}/instruct-lab-bot

- name: Build worker image
  community.docker.docker_image:
    build:
      path: "/home/{{ ansible_user }}/instruct-lab-bot/worker"
      args:
        GITHUB_USER: "{{ qa_github_uid }}"
        GITHUB_TOKEN: "{{ qa_github_token }}"
    name: "ghcr.io/redhat-et/instruct-lab-bot/instruct-lab-serve"
    tag: "main"
    source: build

- name: List container images
  ansible.builtin.command:
    cmd: docker image ls
  register: ls_images
  changed_when: false

- name: Print the output of images listing
  ansible.builtin.debug:
    var: ls_images.stdout_lines

- name: Start the worker
  ansible.builtin.command:
    cmd: docker run --gpus all -it --entrypoint /bin/bash -d -v /home/fedora/instructlab:/data ghcr.io/redhat-et/instruct-lab-bot/instruct-lab-serve:main
  changed_when: true

- name: List all containers
  ansible.builtin.command:
    cmd: docker ps -a
  register: ps_output
  changed_when: false

- name: Pause for 30 seconds before listing
  ansible.builtin.pause:
    seconds: 30

- name: Print the output of the container listing
  ansible.builtin.debug:
    var: ps_output.stdout_lines
