# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Redis Host
REDIS_URL=redis://localhost:6379

PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
...\n
...\n
...\n
-----END RSA PRIVATE KEY-----"