# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Working directory for instruct-lab
WORK_DIR=

# Path to the virtual environment within the working directory
VENV_DIR=venv

# Redis Host
REDIS_URL=redis://localhost:6379
