server:
  address: "127.0.0.1"
  port: 8080

app_configuration:
  redis_hostport: "{{ redis_ip }}:6379"
  webhook_proxy_url: "{{ webhook_proxy_url }}"

github:
  v3_api_url: "https://api.github.com/"
  app:
    integration_id: {{ app_id }}
    webhook_secret: "{{ webhook_secret }}"
    private_key: |
      {{ private_key | indent(6) }}